@charset "utf-8";
/* CSS Document */
div
{
	//border:solid;
}
/* roboto-slab-300 - latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/roboto-slab-v7-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Roboto Slab Light'), local('RobotoSlab-Light'),
       url('../fonts/roboto-slab-v7-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-slab-v7-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-slab-v7-latin-300.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-slab-v7-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-slab-v7-latin-300.svg#RobotoSlab') format('svg'); /* Legacy iOS */
}

/* roboto-slab-regular - latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-slab-v7-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'),
       url('../fonts/roboto-slab-v7-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-slab-v7-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-slab-v7-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-slab-v7-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-slab-v7-latin-regular.svg#RobotoSlab') format('svg'); /* Legacy iOS */
}

/* roboto-slab-700 - latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto-slab-v7-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Roboto Slab Bold'), local('RobotoSlab-Bold'),
       url('../fonts/roboto-slab-v7-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-slab-v7-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-slab-v7-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-slab-v7-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-slab-v7-latin-700.svg#RobotoSlab') format('svg'); /* Legacy iOS */
}
/* ubuntu-condensed-regular - latin */
@font-face {
  font-family: 'Ubuntu Condensed';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/ubuntu-condensed-v8-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Ubuntu Condensed'), local('UbuntuCondensed-Regular'),
       url('../fonts/ubuntu-condensed-v8-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/ubuntu-condensed-v8-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/ubuntu-condensed-v8-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/ubuntu-condensed-v8-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/ubuntu-condensed-v8-latin-regular.svg#UbuntuCondensed') format('svg'); /* Legacy iOS */
}



.outer
{
	width:100%;
	height:auto;
	float:left;
}
.no-padding
{
	padding:0;
}
/*--top section--*/
.top-header 
{
    background-color: #1BBDE8;
    padding: 12px 0;
	color:#fff;
    height: 44px;
}
.top-header  li a
{
	color:#fff;
}
.list-inline .list-first
{
	padding-right:10px;
}
.list-inline .list-second
{
	padding-left:10px;
}
.header-s-part
{
	text-align:right;
}
/*-- navigation section --*/
.navbar-default .navbar-brand 
{
    color: #fff;
}
.navbar-default 
{
    background-color: rgba(0, 0, 0, 0.47);
    border: none;
    float: left;
    width: 100%;
    margin: 0;
    position: absolute;
    top: 44px;
    z-index: 99;
    border-radius: 0;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #1BBDE8;
    background-color: transparent;
    /*! margin: 17px 0px; */
   /*padding: 10px 20px;*/
    line-height: 6px;
    border-radius: 13px;
}
.navbar-default .navbar-nav > li > a {
   color: #fff;
    margin: 17px 0px;
    /*! padding: 10px 20px; */
    line-height: 6px;
    /*! border-radius: 13px; */
   font-family: 'Roboto Slab';
   font-weight: 300;
   font-size: 15px;
   text-transform: uppercase;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #fff;
    background-color: #1BBDE8;
}
.navbar > .container .navbar-brand {
    margin-left: -15px;
    font-family: 'Roboto Slab';
    font-weight: 700;
    font-size: 30px;
}

/*--slider section--*/
#demo-1 
{
	float:left;
}
/*--products--*/
.products
{
	background-color:rgb(249, 249, 249);
	padding:30px 0;
}
.sub-title 
{
   font-family: 'Roboto Slab';
   font-weight: normal;
    line-height: 1.42857143;
    color: rgb(51, 51, 51);
	text-align:center;
}
.sub-title  span
{
    color: #1BBDE8;
}
.diamond::before {
    border: 3px solid rgb(255, 255, 255);
    bottom: -5px;
    content: "";
    height: 14px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    width: 14px;
    z-index: 3;
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
	background: #1BBDE8;
}
.diamond::before
 {
    box-shadow: 0 0 3px 3px rgba(27, 189, 232, 0.47);
}
.diamond::after {
    bottom: 0;
    content: "";
    height: 3px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    width: 90px;
	border: 1px solid #1BBDE8;
}
.diamond
{
	margin-bottom: 25px;
	margin-top: 10px;
	padding-bottom: 5px;
	position: relative;
}
.sub-head p
{
	line-height: 1.7;
	color: rgb(119, 119, 119);
	font-size: 14px;
	font-family: 'Roboto Slab';
	font-weight: 400;
}
.thumbnail p
{	
line-height: 1.5;
color: rgb(119, 119, 119);
font-size: 14px;
margin-bottom: 12px;
}
.slider 
{
    width: 100%;
    float: left;
	height:auto;
}
.sub-head
{
	margin-bottom:45px;
}
/*--news--*/
.news
{
	background-color:#fff;
	padding: 45px 0;
}
.thumbnail 
{
    border: none;
    border-radius: 0;
	font-family: 'Ubuntu Condensed';
	font-weight: 400;
}
.thumbnail .caption h3 
{
    color: RGB(36, 44, 66);
     font-family: 'Roboto Slab';
    font-weight: 700;
    line-height: 1.42857143;
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.thumbnail .caption 
{
    border: solid 1px rgb(238, 238, 238);
}
/*--parallax--*/
.service
{
	background-image:url("../images/parallax.jpg");
	background-attachment:fixed;
	
	padding: 50px 0 40px;
}
.service::before {
    background: rgb(46, 186, 239) none repeat scroll 0 0;
        background-color: rgba(3, 20, 27, 0.61);
    content: " ";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}
.service h2 {
    position: relative;
    color: #fff;
}
.service .sub-head p {
    color: rgb(255, 255, 255);
}
..service .row
{
	position:relative;
}
.icon-box .icon {
    display: inline-block;
    height: 70px;
    margin-bottom: 0;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    width: 70px;
    text-align: center;
    border: solid 1px #fff;
	border-radius: 3px;
	position:relative;
}
.icon-box  i {
    line-height: 70px;
	display: inline-block;
    font-size: 32px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
	color:#fff;
}
.icon-box 
{
	text-align:center;
}
.icon-box-title {
    color: #1BBDE8;
    margin-top: 15px;
    margin-bottom: 7px;
}
.icons
{
	padding: 20px 15px;
margin-bottom: 25px;
}
.icon-box  p
{
	color:rgb(220, 225, 228);
}
.about-us {
    padding: 60px 0;
}
/*about us*/
.about-half-1 {
    color: #777777;
    line-height: 1.7;
    font-size: 14px;
    font-family: 'Roboto Slab';
    text-align: justify;
}
a.read-more
{
	margin-left:5px;
	font-size:13px;
	color: #999999;
}
a.read-more:hover, a.read-more:focus {
    color: #211f1f;
    text-decoration: none;
}
.about-half-2 img {
    width: 100%;
    height: auto;
}
.navbar > .container .navbar-brand {
    margin-left: 0;
}
.main-footer {
    background-color: rgb(64, 64, 64);
    color: rgb(255, 255, 255);
    padding: 45px 0;
}
.main-footer h4 {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 18px;
    text-transform: uppercase;
}
.main-footer p {
    color: rgb(221, 221, 221);
    line-height: 22px;
    text-align: justify;
}
.main-footer ul {
    list-style:none;
}
.footer-address ul li 
{
    color: rgb(221, 221, 221);
    font-size: 15px;
    margin-bottom: 16px;
}
.footer-address ul li i {
    color: rgb(221, 221, 221);
    font-size: 18px;
    margin-right: 13px;
    position: relative;
    top: 3px;
}
.footer-links ul li i {
    color: rgb(221, 221, 221);
    font-size: 18px;
    margin-right: 13px;
    position: relative;
    top: 3px;
}
.footer-links ul li 
{
    color: rgb(221, 221, 221);
    font-size: 15px;
    margin-bottom: 9px;
}
.main-footer a
{
	color:#fff;
	text-decoration:none;
}
.main-footer a:hover,.main-footer a:focus,.main-footer a:active{
	text-decoration:none;
}
.footer-links ul li :hover,.footer-links ul li :focus,.footer-links ul li :active {
    color: rgb(46, 186, 239);
    transition: 1s;
	-webkit-transition:1s;
	-o-transition:1s;
	-moz-transition:1s;
}
.footer-links ul li  :hover i,.footer-links ul li :focus i,.footer-links ul li :active i{
    color: rgb(46, 186, 239);
    transition: 1s;
	-webkit-transition:1s;
	-o-transition:1s;
	-moz-transition:1s;
}
.footer-links ul li i
{
	color:#fff;
	transition:1s;
	-webkit-transition:1s;
	-o-transition:1s;
	-moz-transition:1s;
}
.footer-follow li {
    display: inline-block;
    margin-right: 10px;
    border: solid 1px grey;
    width: 35px;
    height: 35px;
    font-size: 19px;
    text-align: center;
    line-height: 1.6;
}
.footer-follow ul{
	margin-top:25px;
}
.facebook:hover{
	background-color:#3b5998 ;
	transition:1s;
	-webkit-transition:1s;
	-o-transition:1s;
	-moz-transition:1s;
	border-color:transparent;
}
.google:hover{
	background-color:rgb(217, 83, 79) ;
	transition:1s;
	-webkit-transition:1s;
	-o-transition:1s;
	-moz-transition:1s;
	border-color:transparent;
}
.twitter:hover{
	background-color:rgb(91, 192, 222);
	transition:1s;
	-webkit-transition:1s;
	-o-transition:1s;
	-moz-transition:1s;
	border-color:transparent;
}
.facebook,.twitter,.google
{
	transition:1s;
	-webkit-transition:1s;
	-o-transition:1s;
	-moz-transition:1s;
	 
}
.footer-copyright {
    background-color: rgb(34, 34, 34);
    color: #fff;
    font-size: 15px;
    padding: 20px 0;
	text-align:center;
}
.footer-copyright a
{
	color:#fff;
	transition:1s;
	-webkit-transition:1s;
	-o-transition:1s;
	-moz-transition:1s;
}
.footer-copyright a:hover{
	color:rgb(46, 186, 239);
	transition:1s;
	-webkit-transition:1s;
	-o-transition:1s;
	-moz-transition:1s;
}
.product-details-sub p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.products-each-subb a {
    background: none;
    border: none;
    display: block;
    color: rgb(46, 186, 239);
    text-align: right;
    padding: 0;
    margin: 12px auto 0;
    font-size: 12px;
	transition:1s;
	-webkit-transition:1s;
	-o-transition:1s;
	-moz-transition:1s;
}
.products-each-subb a:hover,.products-each-subb a:focus,.products-each-subb a:active{
	color:rgb(29, 133, 172);
	transition:1s;
	-webkit-transition:1s;
	-o-transition:1s;
	-moz-transition:1s;
}
.model-pdt
{
	
}
.model-pdt h4 {
    font-size: 21px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.model-pdt .pdt-img {
    border: solid 1px grey;
    width: 200px;
    margin: 20px auto;
}
.model-pdt .pdt-img img {
    width: 100%;
    height:auto;
}
.product-model-price .pprice
{
	color: maroon;
font-size: 17px;

}
.pdescrptn p
{
	
    text-align: justify;
    margin-bottom: 10px;
}
.pre-nxt {
    text-align: right;
    padding: 0;
}
